@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background: hsl(217, 18%, 14%) url("https://xeuxdev.vercel.app/bg-hero.webp");
    /* background-image: url('https://xeuxdev.vercel.app/bg-hero.webp');
  background-color: hsl(217, 18%, 14%); */
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}


/* Define the animation for the hover state */
@keyframes backgroundSlideHover {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* Apply the animation to the button */
.bg-animate {
  background-size: 100% 200%;
  background-image: linear-gradient(0deg, #ff6b00 50%, transparent 50%);
  transition: all 0.3s;
}

/* Change the background color on hover */
.bg-animate:hover {
  animation: backgroundSlideHover 0.3s ease;
  background-position: 0% 100%;
}
