body {
  background: hsl(217, 18%, 14%) url("https://xeuxdev.vercel.app/bg-hero.webp")
    no-repeat center/cover;
  /* background-color: #1c1a19; */
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
}

#nav-item {
}

/* Define the keyframes for fade-in */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Define the animation for the hover state */
@keyframes backgroundSlideHover {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* Apply the animation to the button */
.bg-animate {
  background-size: 100% 200%;
  background-image: linear-gradient(0deg, #ff6b00 50%, transparent 50%);
  transition: background 0.3s;
}

/* Change the background color on hover */
.bg-animate:hover {
  animation: backgroundSlideHover 0.3s ease;
  background-position: 0% 100%;
}
